.race_container {
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: row;
    background-image: url("../../Images/background_trip.webp");
    background-position: center ;
    background-size: cover;
}

.red_background {
    width: 50%;
    background-color: rgba(165, 40, 40, 0.9);
}

.photo_background {
    width: 50%;
}

.race_title {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.title {
    text-align: left;
    color: white;
    margin-left: 20px;
    width: 220px;
    font-size: 30px;
}

.race_btn {
    border: none;
    border-bottom: 2px solid #C5B46B;
    background-color: rgba( 255, 255, 255, 0);
    margin-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.race_btn:hover {
    transform: scale(1.1);
}