.trip_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(197, 180, 107, 0.3);
}

.icon {
    align-self: flex-start;
    margin: 30px 0px 20px 30px;
    width: 120px;
    height: 150px;
    color: rgba(197, 180, 107, 0.5);
}

.title {
    color: #C5B46B;
    align-self: flex-start;
    margin: -150px 0px 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

.title_suite {
    color: #C5B46B;
    align-self: flex-start;
    margin: -20px 0px 20px 50px;
    font-size: 24px;
    font-weight: bold;
}

.trip_section {
    margin: 35px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.trip_btn {
    align-self: center;
    margin: 10px 0px 60px 0px;
    border: none;
    border-bottom: 2px solid #C5B46B;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.trip_btn:hover {
    transform: scale(1.1);
}