.list {
    display: flex;
    margin: 10px 0px 0px 50px;
    align-items: center;
}

.icon {
    width: 10px;
    color: #C5B46B;
}

.title {
    font-weight: bold;
    margin: 0px 5px;
}

.contain {
    margin: 0px;
}