.nav_container {
    display: flex;
    margin-right: 50px;
}
.navbar {
    margin: 10px 20px;
    line-height: 100px;
}

.btn {
    margin: 0px 10px;
    font-family: 'lato';
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn_active {
    border-bottom: 2px solid #C5B46B;
}